@import 'https://fonts.googleapis.com/css?family=Open+Sans:300, 400';
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Sacramento');


body {
  margin: 0%;
  padding: 0%;
  background-image: url(../images/overviewmountainnostrokelong.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Josefin Slab', serif;
}
