.test {
  /* border: 2px solid black;
    background: none; */
  max-width: 100%;
  min-height: 90vh;
  margin: 0%;
}

.center {
  text-align: center;
}

.name {
  font-family: 'Sacramento', cursive;
  font-size: 3em;
  padding: 0px;
  margin: 2% 0% 0%;
}

#selfperson {
  width: 10em;
	height: 10em;
	border-radius: 50%;
	margin: auto;
	margin-top: 20vh;
	box-shadow: 0px 0px 10px;
  background-image: url(../images/icons/selfperson.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
